.header {
  align-items: center;
  background-color: #fcdc36;
  color: #41197f;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header .header-logo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header .header-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  margin-left: 30px;
}

.header .profile-search-icons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
