.main-details {
  margin-bottom: 100px;
  width: 100vh;
}

iframe {
  aspect-ratio: 16 / 9;
  border: 0;
  max-width: 300px;
  width: 100%;
}

.recom-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.recom-img-container {
  padding: 10px;
}

.recom-img {
  width: 330px;
}

.btn-recipe-detail {
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}
