.footer {
  align-items: center;
  background-color: #45347f;
  border-top: 1px solid #dee2e6;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
}
