@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.progress-container {
  align-items: center;
  background-color: #f8d7da;
  display: flex;
  flex-direction: column;
}

.ingredients-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label-progress {
  display: flex;
  flex-direction: row;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.checkbox {
  background: red;
  margin: 0;
  border: 0;
  box-shadow: none;
  width: 1rem;
  margin-right: 0.5rem;
}

.h3-progress {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.in {
  margin-bottom: 2rem;
}

.finish-recipe-btn-progress {
  background-color: crimson;
  border: none;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  /* position: fixed; */
  width: 100%;
}

.finish-recipe-btn-progress:disabled {
  background-color: #b1adad;
  cursor: not-allowed;
}