@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.progress-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f8d7da;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label-progress {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
}

.checkbox {
  width: 1rem;
  margin: 0;
  margin-right: 0.5rem;
  border: 0;
  box-shadow: none;
  background: red;
}

.h3-progress {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02rem;
  text-align: center;
  margin-bottom: 1rem;
}

.in {
  margin-bottom: 2rem;
}

.finish-recipe-btn-progress {
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: crimson;
  border: none;
  cursor: pointer;
  bottom: 0;
}

.finish-recipe-btn-progress:disabled {
  cursor: not-allowed;
  background-color: #b1adad;
}
